{% include 'header.html' %}
{% include 'topbanner.html' %}
<div class="container">
    <h1><?php echo $pageTitle ?></h1>

    <h2>Обратная связь</h2>
    <form action="#">
        Имя <br><input type="text" id="name" name="name" placeholder="имя" class="form-item all-caps"><br><br>
        Телефон<br> +7<input type="tel" id="phone" name="phone" placeholder="(987) 654 32 10" class="form-item"><br><br>
        email <br><input type="email" id="email" name="email" placeholder="email" class="form-item"><br><br>
        Файлы <br><input type="file" id="files" name="files[]" placeholder="один или несколько файлов" class="form-item"><br><br>
        Сообщение <br><textarea name="message" id="message" cols="30" rows="5" placeholder="Ваше сообщение..."></textarea><br>
        <input type="submit" value="Отправить" class="form-item">
        <input type="reset" value="Очистить" class="form-item">
    </form>

    <h2>Наш адрес</h2>
    <p>г. Иваново, ул. Арсения, д.39/27</p>
    <p><a href="tel:+79876543210">+7 (987) 654 32 10</a></p>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abeb54758cdcd86f8947af4409b77617e4a97b995c58f823bbed5144c6caa4694&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>


{% include 'footer.html' %}