{%include 'header.html'%}
{% include 'topbanner.html' %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Вход</h2>
                <p class="text-red">{{ content_data.authError }}</p>
                <form method="POST" action="/user/?action=login">

                    <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
                        <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                            <span class="icon icon-User text-primary"></span>
                        </div>
                        <input type="text" class="form-control border-0 p-3" placeholder="Your login" name="login">
                    </div>

                    <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
                        <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                            <span class="icon icon-Mail text-primary"></span>
                        </div>
                        <input type="password" class="form-control border-0 p-3" placeholder="Your password" name="password">
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="custom-control custom-checkbox text-left">
                            <input type="checkbox" class="custom-control-input" name="rememberme">
                            <span class="custom-control-indicator mt-1"></span>
                            <span class="custom-control-description">Запомнить</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-rounded u-mt-20 u-w-170">
                        Войти
                    </button>
                </form>
            </div>
            <div class="col-6">
                <h2>Регистрация</h2>
                <p class="text-red">{{ content_data.regError }}</p>
                <form method="POST" action="/user/?action=register">

                    <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
                        <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                            <span class="icon icon-User text-primary"></span>
                        </div>
                        <input type="text" class="form-control border-0 p-3" placeholder="Your name" name="regname">
                    </div>

                    <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
                        <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                            <span class="icon icon-User text-primary"></span>
                        </div>
                        <input type="text" class="form-control border-0 p-3" placeholder="Your login" name="reglogin">
                    </div>

                    <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
                        <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                            <span class="icon icon-Mail text-primary"></span>
                        </div>
                        <input type="password" class="form-control border-0 p-3" placeholder="Your password" name="regpassword">
                    </div>
                    <button type="submit"  class="btn btn-primary btn-rounded u-mt-20 u-w-170">
                        Регистрация
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{%include 'footer.html'%}